.modal-close {
  position: absolute;
  top: 5px;
  right: 5px;
  width: 18px;
  height: 18px;
  padding: 0;
  border: none;
}
hr {
  border: 1px var(--bg-2) solid;
  margin: 6px 0px;
}

.gutter {
  user-select: none;
  background-color: var(--bg-1);
  background-repeat: no-repeat;
  background-position: 50%;
}
.gutter.gutter-horizontal {
  background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAUAAAAeCAYAAADkftS9AAAAIklEQVQoU2M4c+bMfxAGAgYYmwGrIIiDjrELjpo5aiZeMwF+yNnOs5KSvgAAAABJRU5ErkJggg==');
  cursor: col-resize;
}

.inline {
  display: flex;
  align-items: center;
}
.inline h1 {
  flex: 1;
  height: 40px;
}
.small {
  font-size: 80%;
  color: var(--text-2);
}

nav {
  height: 45px;
}
main {
  display: flex;
  height: calc(100dvh - 45px - 14px);
}
section {
  height: 100%;
  overflow: hidden auto;
}
section img {
  width: 100%;
}
time {
  display: block;
  font-size: 80%;
  color: var(--text-2);
}

#posts > div {
  max-width: 60dvw;
  margin: 0px auto;
  content-visibility: auto;
}
#posts p {
  max-height: 30ch;
  overflow: hidden auto;
  text-overflow: ellipsis;
}
#posts img {
  display: block;
  max-width: 50dvw;
  margin: 0px auto;
}